{% extends 'base.html.twig' %}

{% block title %}Hello Profile!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ include ('profile/formProfile.html.twig') }}
    <input type="hidden" name="_target_path" value="/posts">
    <button type="submit">Create</button>
    {{ form_end(form) }}
{% endblock %}
