<!DOCTYPE html>
<html>
<head>
    <title>CAN FRONT Table</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="table-container">
    <table>
        <caption>CAN FRONT</caption>
        <thead>
        <tr>
            <th class="index-col">Index</th>
            <th class="type-col">Type of Sensor</th>
            <th class="value-col">Value</th>
            <th class="unit-col">Unit of Measure</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="index-col">1</td>
            <td class="type-col">Temperature</td>
            <td class="value-col">25</td>
            <td class="unit-col">°C</td>
        </tr>
        <tr>
            <td class="index-col">2</td>
            <td class="type-col">Pressure</td>
            <td class="value-col">100</td>
            <td class="unit-col">kPa</td>
        </tr>
        <tr>
            <td class="index-col">3</td>
            <td class="type-col">Humidity</td>
            <td class="value-col">50</td>
            <td class="unit-col">%</td>
        </tr>
        <tr>
            <td class="index-col">4</td>
            <td class="type-col">Speed</td>
            <td class="value-col">60</td>
            <td class="unit-col">km/h</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>