
    {% if app.user.follows is defined and not app.user.follows.contains(userToFollow) %}
        <a href="{{ path('posts', { id: userToFollow.id }) }}">
            Follow
        </a>
    {% else %}
        <a href="{{ path('posts', { id: userToFollow.id }) }}">
            Unfollow
        </a>
    {% endif %}