{% extends 'base.html.twig' %}

{% block title %}
    Update post
{% endblock %}

{% block body %}
    <form action="{{ path('post-update-save', {id : id}) }}" method="POST">
        <div>
            <label>Title</label>
            <input type="text" name="title" placeholder="Enter title"/>
        </div>
        <div>
            <label>Text</label>
            <input type="text" name="text" placeholder="Enter text"/>
        </div>
        <input type="hidden" name="_target_path" value="/posts">
        <button type="submit">Update Post</button>
    </form>
{% endblock %}
